/* add css styles here (optional) */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #2196F3;
  color: white;
  border: 1px solid #1E88E5;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin-bottom: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-top: 5px;
}


th i.sort-by {
  padding-right: 18px;
  position: relative;
}

i.sort-by:before,
i.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

i.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}

i.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}